<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FastAPI Layout{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='css/layout.css') }}">
</head>
<body>
    <div class="container">
        <!-- GNB -->
        <div class="gnb">
            <div class="logo">
                <img src="{{ url_for('assets', path='img/logo.png') }}" alt="로고">
            </div>
            <ul class="main-menu">
                <li><a href="/users">사용자 관리</a></li>
                <li><a href="/history">이력 관리</a></li>
            </ul>
        </div>

        <div class="body">
            <!-- LNB -->
            <div class="lnb">
                {% block lnb %}{% endblock %}
            </div>

            <!-- Content -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
